/**
* This injects Tailwind's base styles, which is a combination of
* Normalize.css and some additional base styles.
*
* You can see the styles here:
* https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
*
* If using `postcss-import`, you should import this line from it's own file:
*
* @import "./tailwind-preflight.css";
*
* See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
*/

@tailwind base;

html {
  height: 100%;
  background-color: #f4f2ef
}

.bg-main {
  background-color: #f4f2ef
}

body {
  height: 100%;
  min-height: 100%;
}

#__layout,
#__nuxt {
  height: 100%
}

img {
  width: 100%;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-sans
}


strong,
b {
  @apply font-semibold
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.transition {
  transition: 200ms ease-in-out all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-base;
}

.list-bullets {
  list-style: none;
}

svg {
  fill: currentColor
}

.list-bullets li {
  @apply pl-8 text-base bg-no-repeat leading-normal;
  background-position: left 0.25rem;
  background-size: 1.125rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM7.707 9.293L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414z' fill='%23000000' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.list-bullets li + li {
  @apply .mt-2;
}

.stack {
  @apply flex flex-wrap -mb-2 -ml-2
}

.stack > * {
  @apply pl-2 pb-2
}

@responsive {
  .owl-xs > * + * {
    margin-top: 0.25rem;
  }

  .owl-sm > * + * {
    margin-top: 0.5rem;
  }

  .owl-md > * + * {
    margin-top: 0.75rem;
  }

  .owl-lg > * + * {
    margin-top: 1rem;
  }

  .owl-xl > * + * {
    margin-top: 1.25rem;
  }

  .owl > * + * {
    margin-top: 1.5rem;
  }

  .owl-none > * + * {
    margin-top: 0;
  }
}


.owl-x > * + * {
  margin-left: 0.5rem;
}

*, :after, :before {
  transition-duration: .25s;
  transition-property: ease-in-out;
}
.trans {
  transition-property: all;
}


hr {
  height: 2px;
  width: 100%;
  background: black;
}


.drop-shadow {
  -webkit-filter: drop-shadow(0 0 2px 2px hsla(206,99%,33%,1.00));
  transform: translateZ(0);
}

.zoom {
  transition: transform 160ms;
}

.zoom:focus,
.zoom:hover {
  transform: scale(1.05);
}

@tailwind components;


.body-2 {
  @apply text-sm font-medium
}


.page-enter-active, .page-leave-active {
  transition: opacity .2s
}
.page-enter, .page-leave-active {
  opacity: 0
}


.gradient-dark {
  background-image: linear-gradient(transparent, rgba(0,0,0,.25));
}



/**
* Here you would add any of your custom component classes; stuff that you'd
* want loaded *before* the utilities so that the utilities could still
* override them.
*
* Example:
*
* .btn { ... }
* .form-input { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "components/buttons";
* @import "components/forms";
*/

/**
* This injects all of Tailwind's utility classes, generated based on your
* config file.
*
* If using `postcss-import`, you should import this line from it's own file:
*
* @import "./tailwind-utilities.css";
*
* See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
*/
@tailwind utilities;

@tailwind screens;

/**
* Here you would add any custom utilities you need that don't come out of the
* box with Tailwind.
*
* Example :
*
* .bg--graph-paper { ... }
* .skew-45 { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "utilities/background-s";
* @import "utilities/skew-transforms";
*/

  a.link {
    transition: background-color 120ms;
    @apply   no-underline;
  }

  a.link:hover {
    @apply
  }
